<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/dashboard/asset/style.css">

    <title>MonD Stats</title>
</head>
<body>

<main role="main" class="main-content">
    <h1>IP Stats</h1>
    <a href="/dashboard"><- Home</a> <br/>
    <br/>
    <br/>

    <div class="dashboard">
        <table id="ipstats">
            <thead>
            <tr>
                <th>IP</th>
                <th>Count</th>
                <th>Paths</th>
            </tr>
            </thead>
            <tbody>
            {{range .}}
            <tr>
                <td>{{.Ip}}</td>
                <td>{{.Count}}</td>
                <td>
                    <ul>
                        {{range $key, $val := .Paths}}
                        <li>{{$key}}</li>
                        {{end}}
                    </ul>
                </td>
            </tr>
            {{end}}
            </tbody>
        </table>

    </div>
</main>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>
